html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.parent > div {
    width: 50px;
    background-color: #60caf0;
    padding: 10px;
}

