p {
    background-color: #42c642;
    color: white;
    border: 3px dotted #000000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}