div {
    width: 150px;
    height: 150px;
    color: #fff;
}

div.box1 {
    background-color: rgb(158, 74, 74);
    padding: 20px;
    border: 5px solid black;
}
div.box2 {
    background-color: rgb(67, 138, 67);
    margin: 20px;
}